
.footer-box {
    height: 105px;
    width: 100%;

    position: fixed;
    bottom: 0;

    background-color: rgb(228, 228, 228);

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    
    font-size: 20px;
    font-weight: 700;

    color: rgb(0, 0, 0);
    z-index: 200;
}

.footer-center-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}